.card{
    background-color: #fff;
    border-radius: 1.5rem;
    font-weight: 700;
    width: 100%;
    box-shadow: #e0e0e0 0 0 10px;
    margin: 1rem 0;
}
.card-footer{
    width: 100%;
    color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    word-break: break-all;
    word-wrap: break-word;
}
