body{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(80deg, #2886c7 0%, #8de0ab 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    font-size: 1.5rem;
    
}
.card-login{
    background-color: #bce1e1;
    border-radius: 2rem;
    width: 26%;
}
input{
    background-color: #ebf6f6 !important; 
    border: 1px solid #57a3cf !important;
    border-radius: 1rem !important;
}
#footer_picture{
    bottom: 3rem;
    right: 3rem;
}
.containerLabel {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  
.containerLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ebf6f6;
    border-radius: 0.5rem;
    align-self: center;
} 
.containerLabel:hover input ~ .checkmark {
    background-color: #57a3cf;
}
.containerLabel input:checked ~ .checkmark {
    background-color: #2886c7;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.containerLabel input:checked ~ .checkmark:after {
    display: block;
} 
.containerLabel .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}