#modalMethod .modal-content{
    background-image: url('../../commons/images/backmethod.png');
    background-size: 100% 100%;
    background-color: #fff;
    background-position: center;
    height: auto;
}
h6{
    color: #ed1e79;
}
