.backHome{
    background-color: #8de0ab;
    background-image: url("../../commons/images/backhome.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    z-index: 0;
}
.h-100{
    height: 100vh;
}
video, iframe{
    background-color: #c3c3c3;
    border: solid 5px #fff;
    border-radius: 2rem;
}
.homeVideo{
    width: 60%;
    height: 50%;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 1050;
    outline: 0;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #f2f2f2;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 1rem;
    max-width: 800px;
    margin: 1.75rem auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    font-size: 1.5rem;
}
/* The modal top animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}  
/* The modal close button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header, .modal-body {
    padding: 2px 16px;
}
