#songTitle{
    width: 88%;
    word-break: break-all;
    word-wrap: break-word;
}
.flags{
    width: 12%;
}
#mainSong{
    width: 100%;
    height: auto;
    max-width: 100%;
    box-sizing: border-box;
    border: 1rem solid #fff;
}
.video-card{
    background-color: #c3c3c3;
    border-radius: 2rem;
    text-align: center;
    height: 130px;
}
.video-card.active-video{
    background-color: #4cccd5;
}