@font-face {
    font-family: 'Filson Soft';
    src: url('FilsonSoftMedium.eot');
    src: url('FilsonSoftMedium.eot?#iefix') format('embedded-opentype'),
        url('FilsonSoftMedium.woff') format('woff'),
        url('FilsonSoftMedium.svg#FilsonSoftMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

