ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
    justify-content: end;
    justify-content: flex-end;
    align-items: center;
    box-shadow: #000 0px 0px 5px;
}
.childName{
    left: 0;
    position: absolute;
    font-family: 'Filson Soft';
    font-weight: 700;
}
li {
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
}
li svg {
    fill: #999999;
}
li:hover:not(.active):not(.childName) {
    font-weight: 700;
}
.active {
    font-weight: 700;
    border-bottom: red solid 1.5px;
}
.footer{
    font-size: 1.5rem;
}
